<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <h1 class = "flex-container">Welcome To</h1>
    <h1> <em> Notify Me! </em></h1>
    <h2 class = "flex-container">Still Wanna Be Connected <br> With Class Notes?</h2>

    <form action="/register" method="get"> <button>Sign Up</button></form>
     <br>

    <form action="/login"> <button>Login</button> </form>
    
    <br>
    <div style="text-align: center;">
        <a href="/courses">Go to your courses</a>
    </div>
</body>
</html>

