body{
    background-color: aliceblue;
}

h1{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

h2{
    font-family: 'Courier New', Courier, monospace;
}

button {
    background-color: black;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    width:auto;
}