<% layout('layouts/boilerplate')%>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register For Discord</title>
</head>
<body>
    <div class="row">
        <div class="col-6">
            <h1>How to Register</h1>
            <ol>
                <li>
                    <p>
                        Real Insturctions will be inserted later amet consectetur adipisicing elit. Illo ea commodi a. Maxime, tenetur! Itaque quos, nam odio, sequi nostrum iste ipsum inventore asperiores libero qui ut, magnam quis mollitia?
                    </p>
                </li>
                <li>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo ea commodi a. Maxime, tenetur! Itaque quos, nam odio, sequi nostrum iste ipsum inventore asperiores libero qui ut, magnam quis mollitia?
                    </p>
                </li>
                <li>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo ea commodi a. Maxime, tenetur! Itaque quos, nam odio, sequi nostrum iste ipsum inventore asperiores libero qui ut, magnam quis mollitia?
                    </p>
                </li>
            </ol>
        </div>
        <div class="col-6">
            <form action="/<%= id %>/discordSetup" method="post">
                <label for="id">DiscordID: </label><br>
                <input type="text" id="id" name="user[discordID]">
                <button>Register</button>
            </form>
        </div>
    </div>
</body>
</html>