<% layout('layouts/boilerplate')%>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register For Discord</title>
    <link rel="stylesheet" href="/css/discord.css">
</head>
<body>
    <div class="row">
        <div class="col-6">
            <h1>How to Register</h1>
            <h2>Here is how to find discord user ID!</h2>
            <h2>It is easy to find your user id on discord.</h2>
        
            <ol>
                <li>
                    <p>
                        Open discord on browser or desktop.                    
                    </p>
                </li>
                <br>
                <li>
                    <p>
                        Go to User Setting Icon in the bottom left corner(next to your name). 
                        <img src="https://remote-tools-images.s3.amazonaws.com/how-to-find-discord-id/dis1.png" alt="Setting icon on discord">
                    </p>
                </li>
                <br>
                <li>
                    <p>
                        Choose Advanced from the left side bar and turn on the Developer Mode. 
                        <img src="https://i.insider.com/620c329eda5ac00018fe7c1f?width=1200format=jpeg&auto=webp" alt="Advanced button on discord">
                    </p>
                </li>
                <br>
                <li>
                    <p>
                        Click on the User Setting Icon again.
                        <img src="https://remote-tools-images.s3.amazonaws.com/how-to-find-discord-id/dis1.png" alt="Setting icon on discord">
                    </p>
                </li>
                <br>
                <li>
                    <p>
                        Next to your username and avatar, click on the three horizontal dots, as shown below.
                        <img src="https://remote-tools-images.s3.amazonaws.com/how-to-find-discord-id/dis4.png" alt="three dot on discord profile page">
                    </p>
                </li>
                <br>
                <li>
                    <p>
                        In the popup menu, select Copy ID.
                        <img src="https://remote-tools-images.s3.amazonaws.com/how-to-find-discord-id/dis5.png" alt="Copy ID on discord">    
                    </p>
                </li>
                <br>
                <li>
                    <p>
                        Or, you can simply right-click on your avatar and select ‘Copy ID’.
                        <img src="https://remote-tools-images.s3.amazonaws.com/how-to-find-discord-id/dis6.png">
                    </p>
                </li>
                <br>
                <li>
                    <p>
                        Now, you got your user ID and you can paste it on anywhere to use it!
                    </p>
                </li>
                <br>
            </ol>
        </div>
        <div class="col-6">
            <form action="" method="post">
                <label for="id">DiscordID: </label><br>
                <input type="text" id="id" name="user[discordID]">
                <button>Register</button>
            </form>
        </div>
    </div>

    <div>
        <a href="https://discord.gg/842qCmHG" target="-blank">Discord Server Link</a>
    </div>
</body>
</html>